body{
	background-color: #FCFCFC;
	font-family: "Noto Sans", sans-serif;
	margin-left: 25%;
	margin-right: 25%;
}

h2{
	text-align: center;
}


.mini{
	text-align: center;
	font-size: 75%;
}

.cool-button{
	display: block;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background-color: #FF6600;
	min-height: 25%;
	min-width: 25%;
	max-width: 25%;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}

.cool-button .mini{
	font-weight: regular;
}

.blue-button{
	background-color: #3399FF;
	max-width: 100%;
	font-weight: normal;
}

.blue-button h1{
	display: inline;
	font-size: inherit;
	font-weight: bold;
}

.blue-button a{
	color: #FFFFFF;
}



nav{
	float: right;
}
nav a~a{ 
	border-left: 1px solid #FFFFFF; 
	padding-left: 4px; 
}

footer{
	border-top: 1px solid #000000;
	text-align: center;
}