<header class="site-header">

	<nav class="header-nav">
		<a href="/index.html" class="imglink">
			<img src="/files/maxell-logo.svg" class="site-logo">
		</a>
		<a href="/news.html">What's new</a>
		{% if page.layout == "post" %}
			{% for webpage in site.pages %}
				{% if webpage.indextype == page.category %}
					<a href="{{webpage.url}}">Back to {{ webpage.title }}</a>
				{% endif %}
			{% endfor %}
		{% endif %}
	</nav>
	<nav class="header-nav static-size">
		Share on
		<a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}">reddit</a>
		<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}">G+</a>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">FB</a>
	</nav>
</header>
